{% extends 'layouts/base.html' %}

{% block title %} Raw_data {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Raw_data</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Raw_data</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card-header border-0">
            <h3 class="mb-0">Light table</h3>
          </div>
          <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort">id</th>
              <th scope="col" class="sort">lat_coord</th>
              <th scope="col" class="sort">long_coord</th>
              <th scope="col" class="sort">soil_moisture</th>
              <th scope="col" class="sort">soil_temp</th>
              <th scope="col" class="sort">atm_moisture</th>
              <th scope="col" class="sort">atm_temp</th>
              <th scope="col" class="sort">light_intensity</th>
              <th scope="col" class="sort">nitro_cont</th>
              <th scope="col" class="sort">phos_cont</th>
              <th scope="col" class="sort">soil_ph</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
    </div>
  </div>
</div>


{% endblock conten t %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
